# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# OS X
.DS_Store

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Server / Go
*.exe
*.db
*.log
daigakuos.db
main
main.exe

# Android related
**/android/.gradle
**/android/local.properties
**/android/captures/
**/android/generated/
**/android/*/generated/

# Unused Platforms
/ios/
/linux/
/macos/
/windows/
